{% extends 'global.twig' %}
{% block wholepage %}

	<main>
		<h1 class="wholepage">{{ errormessage }}</h1>
	</main>

	{% if errormessage == "offline" %}
		<script>
			window.addEventListener('online', function() {
				location.reload();
			}, false);
		</script>
	{% endif %}

{% endblock %}
