{% if breadcrumbs|length %}
	<nav class="breadcrumbs">
		{% for breadcrumb in breadcrumbs|raw %}
			{% if breadcrumb.url and loop.last == false %}
				<a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
			{% else %}
				<a>{{ breadcrumb.title }}</a>
			{% endif %}
		{% endfor %}
	</nav>
{% endif %}
