<nav class="breadcrumbs">
	<a href="{{ route('tokens.code') }}">Codes</a>

	{% set path = route('tokens.code') %}
	{% for crumb in breadcrumbs %}
		{% if crumb|length > 0 %}
			{% set path = path ~ '/' ~ crumb %}
			<a href="{{ path }}">{{ crumb }}</a>
		{% endif %}
	{% endfor %}
</nav>
