{% if auth_check() %}
	<footer>
		<a href="javascript:history.back()">Back</a>

		<a href="{{ route('tokens.code') }}">Home</a>

		<a href="{{ route('session.show') }}">Profile</a>
	</footer>
{% endif %}
