<header>
	{% if image %}
		<img src="/{{ image }}" />
    {% elseif imageTitle %}
        <span class="titlereplacement">{{ imageTitle }}</span>
	{% else %}
		<span>TOTPBTF3</span>
	{% endif %}
</header>
