{% extends 'global.twig' %}
{% block main %}

	{% set breadcrumbs = token.path|split('/') %}
	{% include 'partials/breadcrumbs.twig' %}

	<hgroup class="a-code-header">
		{% if image %}
			<img class="a-code-img" src="/{{ image }}" />
		{% endif %}

		<h1>{{ token.title }}</h1>
	</hgroup>

	<p class="text-center a-code">{{ token.getTOTPCode() }}</p>

	<button class="center js-copy" data-copies=".a-code">&#128203;</button>

	<div class="a-timer"><div class="hourglass"></div></div>

	<a class="button floating" href="/tokens/{{ token.id_hash }}">&#128065;</a>

{% endblock %}
