{% extends 'global.twig' %}
{% block main %}

	{% set breadcrumbs = token.path|split('/') %}
	{% include 'partials/breadcrumbs.twig' %}

	<h1>{{ token.title }}</h1>

	<p class="text-center a-code">{{ token.getTOTPCode() }}</p>

	<div class="a-timer"><div class="hourglass"></div></div>

	<a class="button floating" href="/tokens/{{ token.id }}">&#128065;</a>

{% endblock %}
