{% extends 'global.twig' %}
{% block main %}

	{% include 'partials/header.twig' %}

	<main>
		{{ breadcrumbs|raw }}

		<h1>{{ token.title }}</h1>

		<div class="export">
			{{ token.getQRCode()|raw }}
		</div>

		<div class="buttons">
			<a class="button button-primary" href="{{ route('tokens.show', [token.id_hash]) }}">View Token</a>
		</div>
	</main>

{% endblock %}
