{% extends 'global.twig' %}
{% block main %}

	{% set breadcrumbs = token.path|split('/') %}
	{% include 'partials/breadcrumbs.twig' %}

	<h1>{{ token.title }}</h1>

	<div class="export">
		{{ token.getQRCode()|raw }}
	</div>

	<a class="button floating" href="{{ route('tokens.show', [token.id_hash]) }}">&#128065;</a>

{% endblock %}
