includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./phpstan-baseline.neon

parameters:
    paths:
        - app
    level: 6

    ignoreErrors:
        - '#Method App\\Http\\Controllers\\[a-zA-Z0-9\\::\(\)]+ has no return typehint specified#'
