parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Console\\\\Kernel\\:\\:\\$commands type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Console/Kernel.php

		-
			message: "#^Property App\\\\Exceptions\\\\Handler\\:\\:\\$dontReport type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Property App\\\\Exceptions\\\\Handler\\:\\:\\$dontFlash type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Controller\\:\\:validateRequest\\(\\) has parameter \\$customAttributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/Controller.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Controller\\:\\:validateRequest\\(\\) has parameter \\$messages with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/Controller.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Controller\\:\\:validateRequest\\(\\) has parameter \\$rules with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/Controller.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Controller\\:\\:validateRequest\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/Controller.php

		-
			message: "#^Property App\\\\Http\\\\Kernel\\:\\:\\$middleware type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Property App\\\\Http\\\\Kernel\\:\\:\\$middlewareGroups type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Property App\\\\Http\\\\Kernel\\:\\:\\$routeMiddleware type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Property App\\\\Http\\\\Middleware\\\\CheckForMaintenanceMode\\:\\:\\$except type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Middleware/CheckForMaintenanceMode.php

		-
			message: "#^Property App\\\\Http\\\\Middleware\\\\EncryptCookies\\:\\:\\$except type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Middleware/EncryptCookies.php

		-
			message: "#^Property App\\\\Http\\\\Middleware\\\\TrimStrings\\:\\:\\$except type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Middleware/TrimStrings.php

		-
			message: "#^Property App\\\\Http\\\\Middleware\\\\TrustProxies\\:\\:\\$proxies type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Middleware/TrustProxies.php

		-
			message: "#^Property App\\\\Http\\\\Middleware\\\\VerifyCsrfToken\\:\\:\\$except type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Middleware/VerifyCsrfToken.php

		-
			message: "#^Property App\\\\Providers\\\\AuthServiceProvider\\:\\:\\$policies type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Providers/AuthServiceProvider.php

		-
			message: "#^Property App\\\\Providers\\\\EventServiceProvider\\:\\:\\$listen type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Providers/EventServiceProvider.php
