$bigbackground:#0c0225;

$bigbackground_light:#f8f5fe;

$mainbackground:#333333;

$header:#1B1532;

$border:#2e2246;

$fabpink:#ff2b68;

$text:#d0d0d0;

$redtext: #d00000;

$redback: #590000;
$blueback: #000059;
$greenback: #005900;
