{% extends 'global.twig' %}
{% block main %}

	{% include 'partials/header.twig' %}

	<main>
		<h1>Profile</h1>

		<dl>
			<dt>Full Name</dt>
			<dd>{{ user.name }}</dd>

			<dt>Email</dt>
			<dd>{{ user.email }}</dd>

			<dt>Light Mode</dt>
			<dd>
				<label class="toggle">
					<input type="checkbox" name="light_mode" {% if user.light_mode %}checked {% endif %} disabled />
					<span class="helper"></span>
				</label>
			</dd>
		</dl>

		<div class="buttons">
			{% if not read_only %}
				<a class="button button-secondary" href="{{ route('session.edit') }}">Edit</a>
			{% endif %}

			<a class="button button-bad" href="{{ route('session.destroy') }}">Logout</a>
		</div>
	</main>

{% endblock %}
