
@import "variables";

body,body * {
	color:$text;font-family:Arial,Helvetica,sans-serif;margin:0;padding:0;
}
button::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
	border:0;padding:0;
}

html {
	background:$bigbackground;

	&.inverted {
		// double invert the images to restore them
		&,& img {
			filter:hue-rotate(180deg) invert(100%);
		}
	}
}

body {
	background:$mainbackground;max-width:600px;margin:0 auto;width:99%;
}

header,footer {
	border:solid $border;line-height:2em;
}

header {
	background:$header;border-width:0 0 4px;display:flex;justify-content:space-around;padding:1em;

	& + main {
		min-height:calc(100vh - 4em - 4px - 2em - 2px);padding:1em;
	}

	a {
		text-decoration:none;
	}
}

main {
	box-sizing:border-box;min-height:100vh;position:relative;

	* + * {
		margin-top:1em;
	}
}

.breadcrumbs {
	display:flex;

	a {
		margin:0;text-decoration:none;

		&:before {
			content:'/';float:left;margin:0 0.7em;text-decoration:none;
		}

		&:first-child:before {
			margin-left:0;
		}
	}
}

h1 {
	&.wholepage {
		font-size:10vh;line-height:100vh;text-align:center;
	}
}

.folderlist {
	display:flex;flex-wrap:wrap;list-style:none;margin-left:-0.5%;

	li {
		margin:0.5%;width:49%;
	}

	&.bigger li {
		width:99%;
	}

	a {
		background:$header;display:block;padding:5px 0;position:relative;text-align:center;text-decoration:none;
	}

	img {
		display:block;height:60px;
	}

	.replaced-image {
		line-height:60px;
	}
}

input:not([type='checkbox']) {
	background:none;border:1px solid $border;box-sizing:border-box;height:3em;padding:0 1em;width:100%;

	&.is-invalid {
		border-color:$redtext;
	}
}

.toggle {
	background:$text;border-radius:10px;cursor:pointer;display:block;height:10px;position:relative;width:40px;

	input {
		display:none;
	}

	.helper {
		background:$text;border-radius:20px;box-shadow:0 0 10px $bigbackground;height:20px;left:-5px;margin:0;position:absolute;top:-5px;transition:all 0.5s;width:20px;
	}

	input:checked + .helper {
		background:$greenback;left:calc(100% - 12px);
	}
}

.invalid-feedback strong {
	color:$redtext;
}

button,.button {
	background:$header;border:1px solid $border;cursor:pointer;height:3em;margin-top:2em;text-align:center;width:100%;

	&.floating {
		margin-left:calc(99% - 5em);margin-top:0;position:fixed;top:calc(100vh - 4px - 6em);width:3em;
		@media (min-width:600px) {
			margin-left:calc(568px - 3em - 2px);
		}
	}
}

a.button {
	display:block;line-height:3em;text-decoration:none;
}

dt {
	font-weight:bold;margin-top:2em;
}

.text-center {
	text-align:center;
}

.a-code {
	font-size:16vw;letter-spacing:0.3em;margin-top:2em;text-indent:0.3em;

	@media (min-width:500px) {
		font-size:5em;
	}
}

.export {
	margin-top:2em;

	svg {
		display:block;max-width:100%;margin:0 auto;
	}
}

footer {
	border-width:2px 0 0;display:flex;justify-content:space-around;

	a {
		text-decoration:none;
	}
}

.blueback {
	background:$blueback;
}
.greenback {
	background:$greenback;
}
.redback {
	background:$redback;
}
