
@import "variables";

body,body * {
	color:$text;font-family:Arial,Helvetica,sans-serif;margin:0;padding:0;
}
button::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
	border:0;padding:0;
}
input,button {
	font-size:inherit;
}

html {
	background:$bigbackground;

	&.inverted {
		// double invert the images to restore them
		&,& img {
			filter:hue-rotate(180deg) invert(100%);
		}
	}
}

body {
	background:$mainbackground;max-width:600px;margin:0 auto;overscroll-behavior:none;width:99%;
}

header,footer {
	border:solid $border;line-height:2rem;
}

header {
	background:$header;border-width:0 0 4px;display:flex;justify-content:space-around;padding:1rem;

	& + main {
		min-height:calc(100vh - 4rem - 4px - 2rem - 2px);padding:1rem 1rem 5rem;
	}

	a {
		text-decoration:none;
	}
}

main {
	box-sizing:border-box;min-height:100vh;position:relative;

	* + * {
		margin-top:1rem;
	}
}

.breadcrumbs {
	// relative positioning helps calculate responsiveness
	display:flex;position:relative;

	&.overflowed {
		justify-content:flex-end;overflow:hidden;

		&:after {
			background:linear-gradient(to right, $mainbackground 0%, transparent 100%);bottom:0;content:'';left:0;position:absolute;top:0;width:5%;
		}
	}

	a {
		margin:0;text-decoration:none;

		&:before {
			content:'/';margin:0 0.7rem;text-decoration:none;
		}

		&:first-child:before {
			margin-left:0;
		}
	}
}

h1 {
	&.wholepage {
		font-size:10vh;line-height:100vh;text-align:center;
	}
}

.folderlist {
	display:flex;flex-wrap:wrap;list-style:none;margin-left:-0.5%;padding:0;

	li {
		margin:0.5%;width:49%;
	}

	&.bigger li {
		width:99%;
	}

	a {
		align-items:center;background:$header;display:flex;height:60px;justify-content:center;padding:5px;position:relative;text-align:center;text-decoration:none;
	}

	img {
		display:inline-block;max-height:60px;max-width:100%;
	}

	.replaced-image {
		line-height:60px;
	}
}

label {
	font-weight:bold;
}

input:not([type='checkbox']) {
	background:none;border:1px solid $border;box-sizing:border-box;height:3rem;padding:0 1rem;width:100%;

	&.is-invalid {
		border-color:$redtext;
	}
}

.toggle {
	background:$text;border-radius:10px;cursor:pointer;display:block;height:10px;position:relative;width:40px;

	input {
		display:none;
	}

	.helper {
		background:$text;border-radius:20px;box-shadow:0 0 10px $bigbackground;height:20px;left:-5px;margin:0;position:absolute;top:-5px;transition:all 0.5s;width:20px;
	}

	input:checked + .helper {
		background:$greenback;left:calc(100% - 12px);
	}
}

.invalid-feedback strong {
	color:$redtext;
}

ul {
	padding-left:1em;
}

button,.button {
	background:$header;border:1px solid $border;box-sizing:border-box;cursor:pointer;height:3rem;margin-top:2rem;text-align:center;width:100%;

	&.floating,&.center {
		width:3rem;
	}

	&.floating {
		margin-left:calc(99% - 5rem);margin-top:0;position:fixed;top:calc(100vh - 2px - 6rem);
		@media (min-width:600px) {
			margin-left:calc(568px - 3rem);
		}
	}

	&.center {
		bottom:1rem;left:calc(50% - 1.5rem);position:absolute;
	}
}

a.button {
	display:block;line-height:3rem;text-decoration:none;
}

dt {
	font-weight:bold;margin-top:2rem;
}

.a-code-header {
	align-items:center;display:flex;flex-direction:row-reverse;justify-content:space-between;

	> * {
		margin:0;
	}

	img {
		max-height:60px;max-width:30%;
	}

	h1 {
		line-height:60px;

		&:only-child {
			flex-grow:1; // fill the space to cancel out the reversed row
		}
	}
}

.text-center {
	text-align:center;
}

.a-code {
	// leave spacing and indenting as ems
	font-size:16vw;letter-spacing:0.3em;margin-top:2rem;text-indent:0.3em;

	@media (min-width:500px) {
		font-size:5rem;
	}
}

.a-timer {
	--progress: 0;

	bottom:1rem;height:3rem;left:1rem;opacity:0;padding-right:calc(0.6667 * 3rem);position:absolute;transition:opacity 0.4s;width:0;
	&:before,&:after {
		content:'';left:5%;position:absolute;right:5%;z-index:1;
	}

	&:before {
		background:$text;bottom:50%;height:calc((100 - var(--progress)) * 0.5%);
	}

	&:after {
		background:$bigbackground;bottom:0;height:calc(var(--progress) * 0.5%);
	}

	.hourglass {
		background:url('/hollow_hourglass.svg');height:100%;position:absolute;width:100%;z-index:2;
	}
}

.js-copy {
	opacity:0;transition:all 0.4s;

	&.enabled {
		opacity:1;
	}

	&.success {
		background-color:$greenback;
	}

	&.failure {
		background-color:$redback;
	}
}

.export {
	margin-top:2rem;

	svg {
		display:block;max-width:100%;margin:0 auto;
	}
}

footer {
	border-width:2px 0 0;display:flex;justify-content:space-around;

	a {
		text-decoration:none;
	}
}

.blueback {
	background:$blueback;
}
.greenback {
	background:$greenback;
}
.redback {
	background:$redback;
}
